!!!
%html
  %head
    = partial :head
    %script{ :src => "/script/lib/zepto.min.js", :type => "text/javascript" }
    %script{ :src => "/script/lib/pdf.js", :type => "text/javascript" }
    %script{ :src => "/script/pdf-mode.js", :type => "text/javascript" }
  %body
    %h1 Classify This Article
    %hr
    .scroll
      %canvas#pdf-canvas
    %button#previous{'onclick' => 'pdf.previous_page()'} Previous
    %button#next{'onclick' => 'pdf.next_page()'} Next
    %button#zoom-out Zoom Out
    %button#zoom-in Zoom In
