!!!
%html{'ng-app' => 'argue'}
  %head
    = partial :head
    %script{ :src => "/script/lib/zepto.min.js", :type => "text/javascript" }
    %script{ :src => "/script/lib/pdf.js", :type => "text/javascript" }
    %script{ :src => "/script/pdf-mode.js", :type => "text/javascript" }
  %body{'ng-controller' => 'article'}
    %h1 Classify This Article
    %hr
    #pdf
      #controls
        %button#previous{'onclick' => 'pdf.previous_page()'} Previous
        |
        %button#next{'onclick' => 'pdf.next_page()'} Next
        .right
          %button#zoom-in Zoom In
          |
          %button#zoom-out Zoom Out
      .scroll
        %canvas#pdf-canvas

    %h3 Which side does this article better support?

    .inline.button-split
      %a#left{ :href => "categorize" }
        {{item.side_a}}
        %br
        %span.button Pick This Side
      .vr
      %a#right{ :href => "categorize" }
        {{item.side_b}}
        %br
        %span.button Pick This Side
    %hr
