!!!
%html{'ng-app' => "argue"}
  %head
    = partial :head
    %script{ :src => "/script/lib/zepto.min.js", :type => "text/javascript" }
    %script{ :src => "/script/lib/pdf.js/build/pdf.js", :type => "text/javascript" }
    %script{ :src => "/script/drag-drop.js", :type => "text/javascript" }
    %script{ :src => "/script/pdf-mode.js", :type => "text/javascript" }
  %body#categorize{'ng-controller' => 'categorize'}
    %h1 Categorize the Articles
    %hr
    #sort
      #sidebar
        .category
          .counter 1
          %h2 For My Side
          %span.description {{ item.side_a }}
          %div.sortable-set{:ondragover => "dragover_handler(event)", :ondrop => "drop_handler(event)"}
        %hr
        .category
          .counter 2
          %h2 Against My Side
          %span.description {{ item.side_b }}
          %div.sortable-set{:ondragover => "dragover_handler(event)", :ondrop => "drop_handler(event)"}

      #content
        %h2 Uncategorized
        %p Please classify each article as either supporting your side or opposing your side.
        %div.sortable-set{:ondragover => "dragover_handler(event)", :ondrop => "drop_handler(event)"}
          %a.sortable{ 'ng-repeat' => 'article in item.articles', :href => "article/{{ $index }} + 1", :draggable => "true", :ondragstart => "dragstart_handler(event)" }
            %div.text
              %span.big   {{ article.title }}
              %span.small {{ article.small }}
        %div.progress
          .percentage
            %span.current 1 
            of 
            %span.total 10
            Articles Classified
