%meta{ :charset => "utf-8" }

-# All Pages
%link{ :rel => "stylesheet", :type => "text/css", :href => "/style/css/reset.css" }
%link{ :rel => "stylesheet", :type => "text/css", :href => "/style/css/layout.css" }
%link{ :rel => "stylesheet", :type => "text/css", :href => "/style/css/typography.css" }

-# Individual Pages
%link{ :rel => "stylesheet", :type => "text/css", :href=> "/style/css/pages/pick-a-side.css" }
%link{ :rel => "stylesheet", :type => "text/css", :href=> "/style/css/pages/categorize.css" }

%title Argue App
