!!!
%html{'ng-app' => "argue"}
  %head
    = partial :head
  %body#pick-a-side{'ng-controller' => 'pick_a_side'}
    %h1 Pick A Side

    %hr
    %p {{item.description}}
    %hr

    .inline.button-split
      %a#left{ :href => "categorize" }
        {{item.side_a}}
        %br
        %span.button Pick This Side
      .vr
      %a#right{ :href => "categorize" }
        {{item.side_b}}
        %br
        %span.button Pick This Side

    %hr
