#categorize {
}

#categorize #sidebar {
  width: 200px;
  float: left;
  border-right: 1px solid #cfcfcf;
  display: inline-block;

  padding: 20px;
  padding-top: 10px;
  padding-right: 40px;
}

#categorize h2 {
  font-size: 24px;
  text-decoration: none;
  border-bottom: none;
  display: block;
}

#categorize .category {
  padding-bottom: 40px;
}

.category .description {
  font-size: 14px;
  line-height: 1.2em;
}

#sidebar {
  width: 25%;
}

#content {
  width: 69%;
  float: right;
  padding-left: 3%;
  display: inline-block;
  padding-top: 10px;
}

#categorize #sort {

}

#categorize #sort {

}

#categorize ul {
  padding: 40px;
}

.sortable-set {
  //border:1px solid #cfcfcf;
  border-bottom: none;
  border-top: 1px solid #cfcfcf;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.sortable {
  border: 1px solid #cfcfcf;
  border-top: none;

  font-size: 12px;
  padding: 5px;
  line-height: 1em;
  vertical-align: center;
  background: url('../../images/article.png');
  background-position: 15px center;
  background-repeat: no-repeat;
  padding-left: 45px;

  clear: both;
  overflow: hidden;
}

.sortable .text {
  display: inline-block;
  border-left: 1px solid #cfcfcf;
  padding-left: 10px;
}

.sortable a {
  float: right;
  display: inline-block;
  border: 1px solid #cfcfcf;
  padding: 5px;
  font-size: 14px;
  text-decoration: none;
  color: black;
  margin-top: 4px;
}

sortable a:hover {
  background: grey;
}

.counter {
  display: inline-block; 
  font-size: 10px;
  padding: 3px;
  float: right;


}

.sortable:hover {
  cursor: pointer;
  background-color: #ffffff;
}

#sidebar .sortable-set {
  border: none;
}
#sidebar .sortable {
  border: none;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#sidebar .sortable img {
  border: none;
}


.sortable .big {
  font-size: 20px;

  line-height: 1em;
  display: block;
}

#sidebar .sortable .small {
  display: none;
  font-size: 14px;
}

.sortable:active {
  border-top: 1px solid #cfcfcf;
}


.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/semi-trans.png') repeat;
  background: black;
  text-align: center;
}
