#categorize {
}

#categorize #sidebar {
  width: 200px;
  float: left;
  border-right: 1px solid #cfcfcf;
  display: inline-block;

  padding: 20px;
  padding-top: 10px;
  padding-right: 40px;
}

#categorize h2 {
  font-size: 24px;
  text-decoration: none;
  border-bottom: none;
  display: block;
}

#categorize .category {
  padding-bottom: 40px;
}

.category .description {
  font-size: 16px;
  line-height: 1.2em;
}

#sidebar {
  width: 25%;
}

#content {
  width: 69%;
  float: right;
  padding-left: 3%;
  display: inline-block;
  padding-top: 10px;
}

#categorize #sort {
  clear: both;
  overflow: hidden;
}
#categorize ul {
  padding: 40px;
}


.counter {
  display: inline-block; 
  font-size: 10px;
  padding: 3px;
  float: right;


}

.sortable:hover {
  cursor: pointer;
  background-color: #ffffff;
}

#sidebar .sortable-set {
  border: none;
}
#sidebar .sortable {
  border: none;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#sidebar .sortable img {
  border: none;
}


.sortable .big {
  font-size: 20px;

  line-height: 1em;
  display: block;
}

#sidebar .sortable .small {
  display: none;
  font-size: 14px;
}

.sortable:active {
  border-top: 1px solid #cfcfcf;
}

.articles {
  margin-top: 20px;
  border-top: 1px solid #cfcfcf;
}

.article {
  text-decoration: none;
  display: block;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  padding: 15px;
  background-image: url('../../images/article.png');
  background-position: 15px center;
  background-repeat: no-repeat;
}

.article:hover {
  background-color: #f1f1f1;
}


.article .big {
  display: inline-block;
  border-left: 1px solid #cfcfcf;
  margin-left: 35px;
  padding-left: 15px; 
  font-size: 18px;

  color: #000000;
}

.article .small {
  display: inline-block;
  font-size: 12px;
  color: #404040;
}

.article .read {
  float: right;
  border-left : 1px solid #cfcfcf;
  padding-left: 20px;
  padding-right: 7px;
  color: #00165d
}






.progress {
  margin-top: 20px;
  height: 50px;
  background: white ;
  width: 100%;
  color: black;
  border: 1px solid #cfcfcf;
  color: white;
  display: inline-block;
  border: 1px solid #cfcfcf;

  overflow: hidden;
}

.progress .filled {
  background: #e8e8e8;
  border-right: 1px solid #cfcfcf;
  display: block;
  height: 50px;
  margin-top: -50px;
  width: 10%;
  display: relative;
}

.progress .current, .progress .total {
  font-weight: bold;
}

.label {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: black;
  font-size: 20px;
}

