@font-face {
  font-family: 'Helvetiker';
  src: url("/style/ttf/helvetiker_regular.ttf");
}
@font-face {
  font-family: 'Bonveno';
  src: url("/style/ttf/thryn.ttf");
}

h1 {
  font-family: Helvetiker;
  font-size: 50px;
  margin: 20px 0;
  padding: 30px 35px 5px;
}

h2 {
  font-family: Helvetiker;
  font-size: 40px;
  border-bottom: 1px solid #cfcfcf;
  display: inline-block;
  line-height: 1.3em;
}
